.app-container {
  background-image: linear-gradient(to top, #9ba9eb, #c3caea);

  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.app-logo {
  height: 50px;
  width: 150px;
}
.input-card-container {
  background-color: #5763a5;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input-head {
  color: #f8fafc;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 800;
}
.input-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #454f84;
  border-radius: 6px;
  padding: 15px;
}
.input-logo {
  width: 29px;
  background-color: #f8fafc;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.input {
  padding: 6px;
}
.side-image {
  width: 40%;
}
.web-name-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.button {
  background-color: #0b69ff;
  font-family: 'roboto';
  border-radius: 6px;
  align-self: end;
  width: 50px;
  height: 25px;
  text-align: center;
  padding-top: 4px;
  color: #ffffff;
  margin-right: 10px;
  border-width: 0px;
}
.password-saved-container {
  background-color: #5763a5;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  width: -webkit-fill-available;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.count-password {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: bolder;
}
.span {
  color: #ffffff;
  border-color: #f8fafc;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  margin: 4px;
  padding-right: 9px;
  padding-left: 5px;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mag-image {
  width: 25px;
  background-color: #ffffff;
}
.search-text {
  padding: 4px;
}
.check-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.saved-password {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: bold;
}
.img-or-password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.img-no-password {
  width: 50%;
}
.no-password-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
